.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50vh;
    margin-bottom: 300px;
}

.body {
    font-size: clamp(1rem,3vw,5rem);
    height: 100vh;
}

.lineMask {
    overflow: hidden;
}

.lineMask p {
    margin: 0px;
    font-weight: 700;
}